@using RobottoBackend.Services
@inject IAzuriteService AzuriteService
@page "/blob-storage"

<PageTitle>Blob Storage</PageTitle>

<h1>Blob Storage</h1>

<p>Select file to upload:</p>
<InputFile OnChange="@(async (e) => await UploadFile(e))" />
<p style="color: red;">@infoMessage</p>

@if (blobNames == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Blob Name</th>
                <th></th>                          
            </tr>
        </thead>
        <tbody>
            @foreach (var blobName in blobNames)
            {
                <tr>
                    <td>@blobName</td>
                    <td>
                        <input type="button" class="btn btn-danger" @onclick="(async () => await DeleteFile(blobName))" value="Delete" />
                    </td>
                </tr>                
            }
        </tbody>
    </table>
}
<p role="status"><b>Blob count: </b>@blobCount</p>

@code {   
    private int blobCount = 0;
    private string infoMessage = "";
    private IEnumerable<string>? blobNames = null;

    protected override void OnInitialized()
    {
        UpdateBlobInfo();
    }

    private void UpdateBlobInfo()
    {
        blobCount = AzuriteService.GetBlobCount();
        blobNames = AzuriteService.GetBlobNames();
    }

    private async Task UploadFile(InputFileChangeEventArgs e)
    {
        infoMessage = "Uploading file...";

        var result = await AzuriteService.CreateBlobFileAsync(e.File.Name,
            e.File.OpenReadStream());

        if (result)
        {
            infoMessage = "File uploaded successfully.";
            UpdateBlobInfo();
        }
        else
            infoMessage = "File could not be uploaded.";

    }

    private async Task DeleteFile(string fileName)
    {
        infoMessage = "Deleting file...";

        var result = await AzuriteService.DeleteBlobFileAsync(fileName);

        if (result)
        {
            infoMessage = "File deleted successfully.";
            UpdateBlobInfo();
        }
        else
            infoMessage = "File could not be deleted.";
    }
}