@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<br/><br/>

<RadzenButton Text="@text" Click="@ButtonClicked"></RadzenButton>

@code {
  string text = "Hello";

  void ButtonClicked()
  {
    if (text == "World")
        text = "Hello";
    else
        text = "World";
  }
}
