@using RobottoBackend.Data.Repositories
@using RobottoBackend.Models
@inject IMissionRepository MissionRepository
@page "/mission"

<AuthorizeView>
    <Authorized>
        <div class="container-fluid">
            <h1>Mission Information</h1>
            <div class="row">
                <div class="col-xl-6 mb-4">
                    <RadzenCard>
                        <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H3">Missions</RadzenText>
                        <RadzenDropDown Style="width:300px" TValue="string" @bind-Value="MissionId" Placeholder="Select mission" AllowFiltering="true" 
                            Data="@(missions)" TextProperty="Name" ValueProperty="Id" InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "Select mission" }})" />
                    </RadzenCard>
                </div>            
            </div>
            @if (!string.IsNullOrWhiteSpace(MissionId))
            {
                <h3>
                    Media
                </h3>
                <div>
                    <MissionMedia MissionId="@MissionId"></MissionMedia>
                </div>
            }            
        </div>
    </Authorized>
    <NotAuthorized>
        <p><em>Please log in to see the content.</em></p>
    </NotAuthorized>
</AuthorizeView>

@code {
    IEnumerable<Mission> missions = new List<Mission>();
    string MissionId = "";

    protected override async Task OnInitializedAsync()
    {
        await MissionRepository.SeedMockData(2);
        missions = await MissionRepository.GetItemsAsync("SELECT * FROM mission");
    }
}