*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode/

# Rider
.idea/

# Visual Studio
.vs/

# Fleet
.fleet/

# Code Rush
.cr/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
Debug/
debug/
DebugPublic/
debugPublic/
Release/
release/
Releases/
releases/
x64/
x86/
build/
bld/
Bin/
bin/
Obj/
obj/
Out/
out/
msbuild.log
msbuild.err
msbuild.wrn
